$columns: 3;
$columnWidth: 10rem;
$columnGap: 1rem;

.main {
  display: grid;
  grid-template-columns: 45fr 55fr;
  height: 100vh;
}

.basic-info-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: burlywood;
}

.details {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.details-container {
  width: $columns * $columnWidth + ($columns - 1) * $columnGap;
}

.details-tabs {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  column-gap: 1rem;

  margin: 0;
  padding: 0;

  color: hsl(0, 0, 80%);

  font-size: 2rem;
  font-weight: 700;
  list-style: none;
  text-align: center;

  li:hover {
    color: var(--color-black);
    cursor: pointer;
  }
}
