.card {
  position: relative;
  padding: 1.6rem 1.6rem 0 1.6rem;
  width: 13rem;

  transition: box-shadow, transform ease 0.2s;
  transform: perspective(1px) translateZ(0) scale(1);

  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--color-type-1);
  // box-shadow: 0px 0px 30px 11px hsla(0, 0%, 0%, 0.25);
  user-select: none;

  &:hover {
    // box-shadow: 0px 0px 30px 11px var(--color-type-2);
    transform: scale(1.02);
    cursor: pointer;
  }
}

.types-container {
  display: flex;
  margin-top: 0.5rem;
}

.figure {
  margin: 1rem auto;
  width: 10rem;
}

.background-image {
  position: absolute;
  bottom: -2.4rem;
  left: 2.5rem;
  right: -3rem;
  z-index: -1;

  svg {
    height: 100%;
    width: 100%;

    path {
      fill: var(--color-type-2);
    }
  }
}

.type-tag {
  padding: 0.4rem;
  margin-right: 0.5rem;
}
