.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);

  svg path {
    fill: var(--color-white);
  }
}
