@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap');

.main {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(350, 91%, 45%);

  font-size: 3rem;

  .particles {
    position: relative;
    height: 100%;
    width: 100%;

    animation: showUp 1s forwards;
  }

  h1 {
    position: absolute;

    font-family: 'Urbanist', sans-serif;
    letter-spacing: 2px;

    color: var(--color-white);
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pokemons-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 13rem);
  justify-content: center;
  margin: 2rem auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.card {
  transition: box-shadow, transform ease 0.2s;
  transform: perspective(1px) translateZ(0) scale(1);
  will-change: transform;

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

.more-pokemons-loader {
  height: 4rem;
  width: 4rem;
  margin: 0 auto 1rem auto;
  animation: spin 2s linear infinite;

  svg {
    height: 100%;
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
