.particles {
  position: absolute;
  // content: '';
  display: block;
  height: 100vh;
  width: 100%;

  // background-color: cadetblue;
  // // z-index: 55;

  transform: scale(0);
  animation: scaleUp 0.5s forwards;
  animation-delay: 2s;
}

.hidden {
  display: none;
}

.pokemons-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 13rem);
  justify-content: center;
  margin: 2rem auto;
  max-width: 80rem;
  padding: 0 1rem;
}

.card {
  transition: box-shadow, transform ease 0.2s;
  transform: perspective(1px) translateZ(0) scale(1);
  will-change: transform;

  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

.more-pokemons-loader {
  height: 4rem;
  width: 4rem;
  margin: 0 auto 1rem auto;
  animation: spin 2s linear infinite;

  svg {
    height: 100%;
    width: 100%;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);

  svg path {
    fill: var(--color-white);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
