.type {
  position: relative;
  margin: 0 0.5rem 1.5rem 0.5rem;
  padding: 0.5rem 1.2rem;
  background-color: var(--color-type-1);
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid var(--color-type-2);
    width: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 12px solid transparent;
    border-left: 12px solid var(--color-type-2);
    width: 0;
  }
}
