.details-container {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  // background-color: burlywood;
}

.details-tabs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2rem;
}
