.homepage-heading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(350, 91%, 45%);
}

.particles {
  position: relative;
  height: 100vh;
  min-height: 30rem;
  width: 100%;

  transform: scale(0);
  animation: scaleUp 0.5s forwards;
  animation-delay: 1.5s;
}

.github-link {
  position: absolute;
  content: '';
  inset: 2rem 2rem auto auto;
  height: 4rem;
  width: 4rem;
  opacity: 0;
  animation: showUp 0.5s forwards;
  animation-delay: 2s;

  path {
    fill: var(--color-white);
    transition: opacity 0.2s ease;
  }

  svg:hover path {
    opacity: 0.5;
  }
}

.scroll-icon {
  position: absolute;
  content: '';
  inset: auto auto 0 50%;
  height: 4rem;
  width: 4rem;
  animation: showUp 0.5s forwards;
  animation-delay: 2s;
  opacity: 0;

  svg {
    transform: translateX(-50%) rotate(-90deg);
    animation: bounce 1.6s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-delay: 2s;

    path {
      fill: var(--color-white);
      transition: opacity 0.1s ease;
    }

    &:hover path {
      opacity: 0.5;
    }
  }
}

.hidden {
  display: none;
}

@keyframes bounce {
  50% {
    transform: translate(-50%, -15px) rotate(-90deg);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
