.main {
  display: flex;
  flex-wrap: wrap;

  height: 100vh;
  max-height: 1086px;
  margin: 0 auto;

  overflow-y: scroll;
}

.btn-back {
  position: absolute;
  inset: 2rem auto auto 2rem;
  z-index: 100;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;

  .card {
    cursor: auto;
    transform: scale(1.8);
    margin: 12rem 0 8rem 0;
    box-shadow: 0px 0px 30px 11px hsla(0, 0%, 0%, 0.25);
  }

  .options {
    margin: 2rem 0;
  }

  .option-search {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: hsl(0, 0, 80%);
        transition: fill 0.1s ease-in;
      }

      &:hover {
        cursor: pointer;

        path {
          fill: var(--color-black);
        }
      }
    }
  }
}

.search-modal {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  animation: showUp 0.2s ease forwards;

  opacity: 0;
  background-color: hsla(0, 0%, 0%, 0.9);

  .autocomplete {
    margin: 4rem 1rem 0;
    width: 60rem;
  }
}

.details {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  height: 100%;
  width: 55%;
  min-width: 35rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: calc(14px + (16 - 14) * ((100vw - 560px) / (760 - 560)));
  }

  .card-container {
    min-height: 35rem;
    width: 100%;

    .card {
      transform: scale(1.4);
      margin: 6rem 0 0 0;
    }
  }

  .details {
    height: 100%;
    width: 100%;
  }

  .option-search {
    position: absolute;
    inset: 2rem 2rem auto auto;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (560 - 320)));
  }
}
